body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

nav {
    background-color: #232323;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    list-style: none;
}

nav img {
    height: 30px; /* Adjust the height as needed */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    margin-right: 70px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.logo img {
    width: 35%;
    height: auto;
    display: block;
    margin: 20px auto; /* Adjust the margin as needed */
    margin-left: 50px;
}

.sectioncentered {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

/* Left section styles (image and guidelines) */
.left-section {
    flex: 1;
    padding: 20px;
}

.left-section img {
    max-width: 85%;
    height: auto;
    border-radius: 20px;
    margin-left: 45px;
}

/* Right section styles (form) */
.right-section {
    flex: 1;
    padding: 20px;
}

.right-section h2 {
    text-align: center;
}

.right-section h3 {
    text-align: center;
}

.right-section p {
    text-align: center;
}
#input-form {
    max-width: 400px;
    margin: 0 auto;
}

#input-form label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

#input-form input, #input-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#input-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#input-form input[type="submit"]:hover {
    background-color: darkgreen;
}

.guidelines {
    font-weight: bold;
    margin-left: 20px;
}


.guidelines-list {
    margin-left: 20px;
    text-align: left;
}

.guidelines-list ul {
    margin-left: 20px;
}

.guidelines-list li {
    margin-bottom: 5px;
}

/* Submit button styles */
.submit-button {
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}


/* Style the footer section */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    text-align: right;
    display: flex; /* Added to make columns side by side */
    justify-content: center; /* Adjust as needed */
    flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
    padding-left: 50px;
}

.footer-column {
    text-align: left;
    padding: 0 20px; /* Add padding as needed */
    flex: 1;
    max-width: 20%; /* Adjust the width of each column */
    margin-left: 40px;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-column ul {
    display: block;
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.fot{
    text-align: center;
}